// Typography SCSS
body {
    font-family: $font-Handjet;
    color: $white;
    font-weight: 400;
}

a {
    transition: $link-transition;
    text-decoration: none;
    color: $link;
    &:hover {
        color: $link;
    }
}

b,
strong {
    font-weight: 700;
}